@media screen and (max-width:800px) {
    header {
        border-bottom: none;
    }
    header,
    header #logo,
    nav,
    nav ul,
    nav ul li,
    nav ul li a
    {
        margin: auto;
        border-bottom: 1px solid lightgrey;
        width:100%;
    }
    .header-inner, header {
        display: block;
        position: inherit;
    }
    header #logo {
        padding-bottom: 5px;
        border: 1px solid lightgrey;
    }
    header #logo img {
        float: none;
        width: 70px;
        max-width: 70%;
        margin: 2% auto;
        display: block;
    }



    #video {
        margin: 0;
    }



    #box-3 .boxes {
        display: block;
        width: 100%;
        margin: 10% auto;
    }
    #box-3 #boxz {
        width: 100%;
        margin: 0 auto;
    }
    #box-3 a {
        width: 100%;
        padding: 3% 5% 3% 5%;
        margin: 0% 5% 0% 35%;
    }



    #boximg {
        min-width: 100%;
    }
    #texter {
        min-width: 100%;
        height: 100%;
        float: none;
        padding: 1% 10% 2% 10%;
    }
    #box {
        min-width: 100%;
    }
    .img-inner {
        min-width: 100%;
    }



    .block-show,
    .block,
    .block-again {
        display: block;
        min-width: 100%;
        margin: 2% 0%;
    }

    .block-again {
        padding: 5%;
    }
    
    .block-again a {
    	width:110px;
    	padding: 1%;
    }

    .block-again a {
    	margin-left: 30%;
    }

    .block-again i {
        text-align: center;
    }

    #poster #bb {
    	width: 100%;
    	padding: 5px;
    }

    #bb h2 {
    	text-shadow: 2px 2px 10px white
    }
}

